/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";

@layer components {
  .input-text {
    @apply block w-full px-3 py-2.5 text-sm rounded-md rounded-e-md focus:outline-none focus:ring-0;
  }

  .input-text.ng-invalid.ng-touched,
  .input-text.ng-invalid.ng-dirty {
    @apply border border-red-400 text-red-700 rounded-md rounded-e-md rounded-l-none;
  }

  .label-input-text {
    @apply bg-gray-200 inline-flex items-center px-3 text-sm text-gray-600 rounded-r-none p-1 rounded-md rounded-s-md;
  }

  .btn-primary {
    @apply bg-blue-600 text-white rounded-md py-2 px-4 font-medium
    hover:bg-blue-700 hover:cursor-pointer
    disabled:bg-blue-300 disabled:text-blue-100
    disabled:cursor-not-allowed;
  }
}

