/* You can add global styles to this file, and also import other style files */
@import "@fortawesome/fontawesome-free/css/all.min.css";
@import "@ng-select/ng-select/themes/default.theme.css";
@import "tailwindcss";

@layer components {
  .input-text {
    @apply block w-full px-3 py-2.5 text-sm rounded-md rounded-e-md focus:outline-none focus:ring-0;
  }

  .input-text.ng-invalid.ng-touched,
  .input-text.ng-invalid.ng-dirty {
    @apply border border-red-400 text-red-700 rounded-md rounded-e-md rounded-l-none;
  }

  .label-input-text {
    @apply bg-gray-200 inline-flex font-medium items-center px-3 text-base text-gray-500
    rounded-r-none p-1 rounded-md rounded-s-md;
  }

  .label-required::after {
    content: " *";
    @apply text-red-400 font-bold ml-1 items-start;
  }

  .sidebar-icon {
    @apply flex items-center gap-4 text-green-700 hover:text-green-900
    w-full px-4 py-3 rounded-xl hover:bg-green-100
    transition-all duration-200
  }

  .btn-secondary {
    @apply box-border border focus:ring-4
    shadow-xs font-medium leading-5 rounded-md text-sm px-4 py-2.5 focus:outline-none hover:cursor-pointer
  }

  .select {
    @apply block w-full px-3 py-2.5 text-sm rounded-md shadow-xs;
  }

  .select-option {
    @apply p-2 hover:bg-blue-100 hover:cursor-pointer;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .animate-fadeIn {
    animation: fadeIn 200ms ease-out forwards;
  }

  @keyframes dropIn {
    from {
      transform: translateY(-18px) scale(0.985);
      opacity: 0;
    }
    to {
      transform: translateY(0) scale(1);
      opacity: 1;
    }
  }
  .animate-dropIn {
    animation: dropIn 220ms cubic-bezier(.22, .9, .34, 1) forwards;
  }

  .bg-pet-background {
    background-color: #F4FAF0;
  }

  .text-pet-primary {
    color: #007B80;
    @apply text-4xl
  }

  .bg-pet-primary {
    background-color: #007B80;
  }

  .bg-pet-success {
    background-color: #54A82F;
  }

  .bg-pet-secondary {
    background-color: #8D99AE;
  }

  .btn-primary {
    @apply
    px-6 py-2
    rounded-full
    font-medium
    text-white
    hover:cursor-pointer
    transition duration-150 ease-in-out;
  }

  .btn-secondary {
    @apply
    px-6 py-2
    rounded-full
    font-medium
    text-white
    transition duration-150 ease-in-out;
  }

}


html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
