server:
  port: 8080
  address: 0.0.0.0

spring:
  main:
    banner-mode: off

  application:
    name: "Vita Pet Care"

  mail:
    host: smtp.mailtrap.io
    port: 2525
    username: 176c8918b1efd6
    password: fe58fc0d507b56
    properties:
      mail:
        transport:
          protocol: smtp
        debug: true
        smtp:
          auth: true
          starttls.enable: true
          connectiontimeout: 5000
          timeout: 5000
          writetimeout: 5000
          starttls:
            enable: true

  datasource:
    url: jdbc:postgresql://localhost:5432/vitapetcare
    username: postgres
    password: postgres
    driverClassName: org.postgresql.Driver
    hikari:
      maximum-pool-size: 5
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  liquibase:
    enabled: true
    change-log: classpath:/config/liquibase/master.xml

logging:
  level:
    liquibase: DEBUG


jwt:
  secret: "d8f9348df98sd98fsd98f0sd98f0sd980fs9d8f0s98df0s98dfs90df8s90df8s0df98sdf"

