<div class="flex h-screen items-center justify-center bg-gray-100 p-4">

  <section class="flex bg-white shadow-2xl rounded-[2rem] overflow-hidden w-full max-w-5xl h-[min(650px,85vh)]">

    <form [formGroup]="form" (submit)="confirmResetPassword()"
          class="flex-1 flex flex-col justify-center px-12 lg:px-20 gap-6">

      <div class="flex flex-col items-center mb-4">
        <img ngSrc="assets/logo.png" height="300" width="300" alt="Logo" class="mb-2" priority/>
        <p class="text-gray-400 text-lg">Digite uma nova senha!</p>
      </div>

      <div class="flex flex-col gap-1.5">
        <div
          class="flex items-center border border-gray-200 rounded-xl focus:outline-none focus-within:ring-4 focus-within:ring-green-50 transition-all overflow-hidden bg-gray-50">
          <span
            class="bg-gray-200 px-4 py-3 text-gray-500 text-sm font-medium border-r border-gray-300 min-w-[20%] text-center"
            translate="login.newPassword"></span>
          <input class="w-full px-4 py-3 bg-transparent outline-none text-sm text-gray-700" type="password"
                 formControlName="newPassword" required placeholder="••••••••"/>
        </div>
        @if (form.get('newPassword')?.touched && form.get('newPassword')?.invalid) {
          <span class="text-xs text-red-500 flex items-center gap-1 ml-1">
            <i class="fa-solid fa-circle-exclamation"></i>
            {{ "global.field.required" | translate: {field: 'global.field.password' | translate} }}
          </span>
        }
      </div>

      <div class="flex flex-col gap-1.5">
        <div
          class="flex items-center border border-gray-200 rounded-xl focus:outline-none focus-within:ring-4 focus-within:ring-green-50 transition-all overflow-hidden bg-gray-50">
          <span
            class="bg-gray-200 px-4 py-3 text-gray-500 text-sm font-medium border-r border-gray-300 min-w-[20%] text-center"
            translate="login.confirmPassword"></span>
          <input class="w-full px-4 py-3 bg-transparent outline-none text-sm text-gray-700" type="password"
                 formControlName="confirmPassword" required placeholder="••••••••"/>
        </div>
        @if (form.get('confirmPassword')?.touched && form.get('confirmPassword')?.invalid) {
          <span class="text-xs text-red-500 flex items-center gap-1 ml-1">
            <i class="fa-solid fa-circle-exclamation"></i>
            {{ "global.field.required" | translate: {field: 'global.field.password' | translate} }}
          </span>
        }
      </div>


      <button
        class="w-full py-3.5 bg-green-600 text-white rounded-xl font-bold text-sm shadow-lg shadow-green-100 hover:bg-green-700 active:scale-[0.98] transition-all disabled:opacity-50 disabled:pointer-events-none"
        type="submit"
        [disabled]="!canSubmit()"
      >
        <span translate="global.field.confirm"></span>
      </button>
    </form>

  </section>
</div>

