<body class="flex h-screen items-center justify-center bg-pet-background from-cyan-50 to-cyan-200 ">
<section class="flex bg-green-200 items-stretch justify-center rounded-md p-2 w-[80%] h-[65%]">
  <form [formGroup]="form" (ngSubmit)="login()"
        class="flex flex-col justify-center items-start p-20 rounded-md w-[75%] gap-5">
    <div class="w-full flex items-center justify-center">
      <img ngSrc="assets/logo.png" height="1024" width="1024" alt="Logo do app" class="h-50 w-50" priority/>
    </div>

    <div class="flex shadow-xs rounded-md bg-white w-full">
      <label class="label-input-text" translate="login.email"></label>
      <input class="input-text" type="email" formControlName="email" required/>
    </div>

    @if (form.get('email')?.touched && form.get('email')?.invalid) {
      <div class="flex justify-center items-center gap-1 -mt-3">
        <i class="fa-solid fa-circle-exclamation text-rose-600"></i>
        <span class="text-sm text-red-800">
        {{ "global.field.required" | translate: {field: 'global.field.email' | translate} }}</span>
      </div>
    }

    <div class="flex shadow-xs rounded-base bg-white rounded-md w-full">
      <span class="label-input-text" translate="login.password"></span>
      <input class="input-text" type="password" formControlName="password" required/>
    </div>

    @if (form.get('password')?.touched && form.get('password')?.invalid) {
      <div class="flex justify-center items-center gap-1 -mt-3">
        <i class="fa-solid fa-circle-exclamation text-rose-600"></i>
        <span class="text-sm text-red-800">
        {{ "global.field.required" | translate: {field: 'global.field.password' | translate} }}</span>
      </div>
    }

    <div class="flex items-center justify-between w-full">
      <div class="flex gap-2">
        <input class="accent-blue-500" type="checkbox" formControlName="rememberMe"/>
        <span class="text-[90%]" translate="global.field.rememberMe"></span>
      </div>

      <a class="underline text-[90%] cursor-pointer text-blue-800" translate="global.field.forgotPassword"></a>
    </div>

    <button
      class="btn-primary bg-green-500  w-full -mt-2 "
      [ngClass]="!canSubmit() ? 'opacity-50 hover:cursor-auto' : '' "
      [disabled]="!canSubmit()"
      type="submit"
    >Login
    </button>

    <div class="flex gap-2 ml-[10%] mt-[10%]">
      <span translate="global.field.dontHaveAnAccount"></span>
      <a class="underline cursor-pointer text-blue-800" translate="global.field.createAccount"></a>
    </div>
  </form>

  <img
    src="assets/dog_cat.jpeg"
    alt="Logo do app"
    class="bg-blue-300 w-full rounded-md"/>
</section>
</body>

