<body class="h-full max-h-full bg-white rounded-lg">
<div class="h-full p-4">

  <table class="w-full table-auto border-collapse rounded-t-lg shadow-sm">
    <thead class="bg-gray-100">
    <tr class="text-left text-sm text-gray-600">
      <th class="p-3"></th>
      <th class="p-3">Profile ID</th>
      <th class="p-3">Date</th>
      <th class="p-3">Owner</th>
      <th class="p-3">Pet</th>
      <th class="p-3">Phone Number</th>
      <th class="p-3">Address</th>
      <th class="p-3">Service</th>
      <th class="p-3">Note</th>
      <th class="p-3 w-24 text-center"></th>
    </tr>
    </thead>

    <tbody class="text-sm">
    <tr>
      <td></td>
      <td class="p-3">1478</td>
      <td class="p-3">Mọ, 28 Jul</td>
      <td class="p-3">Ng.H.Anh</td>
      <td class="p-3">Husky, Cat</td>
      <td class="p-3">0128 012 128</td>
      <td class="p-3">Hà</td>
      <td class="p-3">VC</td>
      <td class="p-3s">Note</td>
      <td class="p-3 flex gap-1 justify-center items-center">
        <button class="hover:cursor-pointer text-blue-500">
          <i class="fa-solid fa-pen-to-square text-2xl"></i>
        </button>
        <button class="hover:cursor-pointer">
          <i class="fa-regular fa-trash-can text-2xl text-gray-500"></i>
        </button>
      </td>
    </tr>

    </tbody>
  </table>
</div>
</body>
